{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{{ moodboard|title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'moodboard/style.css' %}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
    <blockquote class="blockquote text-center">
        <h1>{{ moodboard|title }}</h1>
        <p>Generate unique mood boards just for you comprised of your top Spotify tracks.</p>
        <div class="row justify-content-md-center">
            <form action="/moodboard/login">
                <div class="form-group col-4">
                    <input class="btn btn-outline-dark" type="submit" value="Login with Spotify">
                </div>
            </form>
        </div>
        <hr>
        <footer class="h6">&#169; Copyright 2021.</footer>
        <a href="https://github.com/anna-liang/mood-board" target="_blank">
            <img alt="github logo" src="{% static 'moodboard/GitHub-Mark-32px.png' %}">
        </a>
    </blockquote>
</body>

</html>