{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{{ moodboard|title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'spotify/style.css' %}">
</head>

<body>
    <h1 style="text-align:centre">{{ moodboard|title }}</h1>

    <div class="row">
        <div class="column">
            <div class="mb-row">
                {% for moodblock in topTracks %}
                    <img src="{{ moodblock.img }}">
                    {% if forloop.counter|divisibleby:3 %}
                        </div>
                        <div class="mb-row">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="column">
            <h2>Summary</h2>
            <ol>
                {% for moodblock in topTracks %}
                <li>
                    <div>{{ moodblock.track }} by {{ moodblock.artist }}</div>
                    <audio controls>
                        <source src="{{ moodblock.audio }}" type="audio/mpeg">
                    </audio>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</body>

</html>