li {
    color: white;
}

body {
    background: black;
}

h1, p {
    color: white;
    text-align: center;
}

.column {
    float: left;
    margin-left: 10%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.zoom {
    transition: transform .5s;
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }
  
.zoom:hover {
    transform: scale(1.2);
}