{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{{ moodboard|title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'moodboard/style.css' %}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
    <blockquote class="blockquote text-center">
        <h1>{{ moodboard|title }}</h1>
        <p>A collection of your top 9 tracks organized into a mood board.</p>
        <div class="row justify-content-md-center">
            <form action="/moodboard/term=S">
                <div class="form-group col-4">
                    <input class="btn btn-outline-dark {% if term == 'S' %} active {% endif %}" type="submit" value="4 weeks">
                </div>
            </form>
            <form action="/moodboard/term=M">
                <div class="form-group col-4">
                    <input class="btn btn-outline-dark {% if term == 'M' %} active {% endif %}" type="submit" value="6 months">
                </div>
            </form>
            <form action="/moodboard/term=L">
                <div class="form-group col-4">
                    <input class="btn btn-outline-dark {% if term == 'L' %} active {% endif %}" type="submit" value="All-time">
                </div>
            </form>
        </div>
    </blockquote>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-auto">
                <div class="row">
                    {% for moodblock in topTracks %}
                        <div class="col">
                            <a href="{{ moodblock.link }}" target="_blank">
                                <img class="zoom" alt="album art" src="{{ moodblock.img }}">
                            </a>
                        </div>
                        {% if forloop.counter|divisibleby:3 %}
                            </div>
                            <br>
                            <div class="row">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="container">
        <p class="h2 text-center">Summary</p>
        <div class="row justify-content-md-center">
            {% for moodblock in topTracks %}
                {% if forloop.counter > 0 and forloop.counter <= 3 %}
                    <div class="col-4">
                        <div>{{ forloop.counter }}. {{ moodblock.track }} by {{ moodblock.artist }}</div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        <div class="row justify-content-md-center">
            {% for moodblock in topTracks %}
                {% if forloop.counter > 0 and forloop.counter <= 3 %}
                    <div class="col-4">
                        <iframe src="{{ moodblock.audio }}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        <br>
        <div class="row justify-content-md-center">
            {% for moodblock in topTracks %}
                {% if forloop.counter > 3 and forloop.counter <= 6 %}
                    <div class="col-4">
                        <div>{{ forloop.counter }}. {{ moodblock.track }} by {{ moodblock.artist }}</div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        <div class="row justify-content-md-center">
            {% for moodblock in topTracks %}
                {% if forloop.counter > 3 and forloop.counter <= 6 %}
                    <div class="col-4">
                        <iframe src="{{ moodblock.audio }}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        <br>
        <div class="row justify-content-md-center">
            {% for moodblock in topTracks %}
                {% if forloop.counter > 6 and forloop.counter <= 9 %}
                    <div class="col-4">
                        <div>{{ forloop.counter }}. {{ moodblock.track }} by {{ moodblock.artist }}</div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        <div class="row justify-content-md-center">
            {% for moodblock in topTracks %}
                {% if forloop.counter > 6 and forloop.counter <= 9 %}
                    <div class="col-4">
                        <iframe src="{{ moodblock.audio }}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
    </div>
    <hr>

    <blockquote class="blockquote text-center">
        <footer class="h6">&#169; Copyright 2020.</footer>
        <a href="https://github.com/anna-liang/streaming-stats" target="_blank">
            <img alt="github logo" src="{% static 'moodboard/GitHub-Mark-32px.png' %}">
        </a>
    </blockquote>

</body> 

</body>

</html>